<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /refino/
    
    # Remove trailing slash (opcional)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /refino/$1 [R=301,L]
    
    # Redireciona todas as requisições para index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>