RewriteEngine On
RewriteBase /

# Permite acessar arquivos e diretórios normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para index.html
RewriteRule ^ index.html [L]
